body {
  background-color: $body-color;
  overflow-x      : hidden;
}

::selection {
  background: lighten($color: $primary-color, $amount: 10);
  color     : $white;
}

/* preloader */

.preloader {
  position        : fixed;
  top             : 0;
  left            : 0;
  right           : 0;
  bottom          : 0;
  background-color: #fff;
  z-index         : 9999;
  display         : flex;
  align-items     : center;
  justify-content : center;
}

img {
  vertical-align: middle;
  border        : 0;
  max-width     : 100%;
  height        : auto;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a.text-primary:hover {
  color: $primary-color;
}

a,
button,
select {
  cursor    : pointer;
  transition: .15s ease-in-out;

  &:focus {
    outline: 0;
  }
}

a:hover {
  color: $primary-color;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top   : 150px;
  padding-bottom: 150px;

  &-sm {
    padding-top   : 80px;
    padding-bottom: 80px;
  }

  &-title {
    margin-bottom: 30px;
  }
}

.bg-cover {
  background-size    : cover;
  background-position: center center;
  background-repeat  : no-repeat;
}

.border-primary {
  border-color: $border-color;
}

/* overlay */

.overlay {
  position: relative;

  &::before {
    position  : absolute;
    content   : '';
    height    : 100%;
    width     : 100%;
    top       : 0;
    left      : 0;
    background: $black;
    opacity   : .5;
  }
}

.outline-0 {
  outline: 0;
}

.d-unset {
  display: unset;
}

.bg-primary {
  background: $primary-color;
}

.text-primary {
  color: $primary-color;
}

.text-dark {
  color: $text-color-dark;
}

.text-light {
  color: $text-color-light;
}

.text-color {
  color: $text-color;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

.zindex-1 {
  z-index: 1;
}

.overflow-hidden {
  overflow: hidden;
}

.border-primary {
  border-color: $primary-color;
}

.font-weight-medium {
  font-weight: 500;
}

/* form control */
.form-control {
  height       : 50px;
  border-radius: 0;

  &:focus {
    box-shadow  : none;
    outline     : 0;
    border-color: $primary-color;
  }

  &::placeholder {
    font-size: 13px;
  }
}

textarea.form-control {
  height: 150px;
}

a.bg-primary:focus,
a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover {
  background: $primary-color;
}

.cookie-box {
  position  : fixed;
  left      : 0;
  right     : 0;
  bottom    : 0;
  text-align: center;
  z-index   : 99999;
  padding   : 1rem 2rem;
  background: rgb(71, 71, 71);
  transition: all .75s cubic-bezier(.19, 1, .22, 1);
  color     : #fdfdfd;
}

.cookie-box-hide {
  display: none;
}
