// Color Variables
$primary-color   : #00AAA1;
$text-color      : #222222;
$text-color-dark : #000;
$text-color-light: #959595;
$body-color      : #fff;
$border-color    : #ACB9C4;
$black           : #000;
$white           : #fff;
$gray            : #f4fcff;

// Font Variables
$primary-font: 'Fira Sans',
Ubuntu;
$icon-font: 'themify';

