<!DOCTYPE html>
<html ⚡ lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}" prefix="og: http://ogp.me/ns#">
  {{- partial "head.html" . -}}

  <body>
    {{- partial "preloader.html" . -}}
    {{- partial "header.html" . -}}
    {{- block "main" . }}{{- end }}
    {{- partial "footer.html" . -}}
    <amp-install-serviceworker src="{{ .Site.BaseURL }}sw.js"
      data-iframe-src="{{ .Site.BaseURL }}install-serviceworker.html" layout="nodisplay">
    </amp-install-serviceworker>
  </body>

</html>
