{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        {{ if .Params.Image }}
        <figure>
          {{ "<!-- amp-image -->" | safeHTML }}
          <amp-img class="img-fluid d-block mx-auto rounded-circle mb-4" src="{{ .Params.Image | absURL }}.webp"
            srcset="{{ .Params.Image | absURL }}.webp 535w, {{ .Params.Image | absURL }}@2x.webp 535w, {{ .Params.Image | absURL }}-sm@2x.webp 534w"
            width="730" height="733" layout="intrinsic" alt="{{ .Title | markdownify }}">
            <noscript>
              <img src="{{ .Params.Image | absURL }}.webp" width="383" height="383" alt="{{ .Title | markdownify }}">
            </noscript>
            <div fallback>Go online to see the image</div>
          </amp-img>
        </figure>
        {{ end }}
        <h4 class="widget-title">{{ .Title | markdownify }}</h4>
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ "<!-- Image Gallery, check commit on 06/21 for any errors -->" | safeHTML }}

{{ if .Site.Data.gallery.enable }}
{{ with .Site.Data.gallery }}
<section>
  <div class="container-fluid px-0">
    <div class="text-center">
      <h4 class="widget-title">My Gallery</h4>
    </div>
    <div class="row no-gutters">
      {{ range .gallery }}
      <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <a href="{{ .image | absURL}}" class="venobox" data-gall="gallery">
          <figure>
            {{ "<!-- amp-image -->" | safeHTML }}
            <amp-img class="img-fluid w-100" src="{{ .Params.Image | absURL }}.webp"
              srcset="{{ .Params.Image | absURL }}.webp 535w, {{ .Params.Image | absURL }}@2x.webp 535w,  {{ .Params.Image | absURL }}-sm@2x.webp 534w"
              width="383" height="383" layout="intrinsic" alt="image gallery">
              <noscript>
                <img src="{{ .Params.Image | absURL }}.webp" width="383" height="383" alt="{{ .Title | markdownify }}">
              </noscript>
              <div fallback>Go online to see the image</div>
            </amp-img>
          </figure>
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ end }}
