{{ "<!-- css plugins -->" | safeHTML }}
{{ $cssbootstrap := resources.Get "plugins/bootstrap/bootstrap.min.css" }}
{{ $slick := resources.Get "plugins/slick/slick.css" }}
{{ $themify := resources.Get "plugins/themify-icons/themify-icons.css" }}
{{ $mainstyle := resources.Get "scss/style.scss" | resources.ToCSS  }}

{{ "<!-- main stylesheet -->" | safeHTML }}
{{ $allcss := slice $cssbootstrap $slick $mainstyle | resources.Concat "/css/vendor.css" | resources.PostCSS (dict "config" "postcss.config.js") | resources.Minify | resources.Fingerprint "sha512" | resources.PostProcess }}
<style amp-custom>
{{ $allcss.Content | safeCSS }}
</style>
<link rel="preload" href="{{ $themify.RelPermalink }}" as="style" onload="this.rel='stylesheet'">

{{ "<!-- js plugins -->" | safeHTML }}
<script type="text/javascript" src="https://unpkg.com/default-passive-events"></script>
{{ $jquery := resources.Get "plugins/jQuery/jquery.min.js" }}
{{ $jsbootstrap := resources.Get "plugins/bootstrap/bootstrap.min.js" }}
{{ $slickjs := resources.Get "plugins/slick/slick.min.js" }}
{{ $lazyimage := resources.Get "plugins/lazysize/lazysizes.min.js" }}
{{ $darkmode := resources.Get "plugins/darkmode/darkmode.1.5.7.min.js" }}
{{ $cookies := resources.Get "plugins/cookies/js.cookie-2.2.1.min.js" }}
{{ $tabs := resources.Get "js/tabs.js" }}
{{ "<!-- bundled js -->" | safeHTML }}
{{ $alljs := slice $jquery $jsbootstrap $slickjs $lazyimage $darkmode $cookies $tabs | resources.Concat "/js/vendor.js" | minify | fingerprint "sha512" }}
<script> {{ $alljs.Content | safeJS }} </script>
