{{ "<!-- css plugins -->" | safeHTML }}
{{ $cssbootstrap := resources.Get "plugins/bootstrap/bootstrap.min.css" }}
{{ $slick := resources.Get "plugins/slick/slick.css" }}
{{ $themify := resources.Get "plugins/themify-icons/themify-icons.css" }}
{{ $woff := resources.Get "plugins/themify-icons/themify.woff" }}
{{ $woff2 := resources.Get "plugins/themify-icons/themify.woff2" }}
{{ $mainstyle := resources.Get "scss/style.scss" | resources.ToCSS  }}

{{ "<!-- main stylesheet -->" | safeHTML }}
{{ $allcss := slice $cssbootstrap $mainstyle $themify | resources.Concat "/css/vendor.css" | resources.PostCSS (dict "config" "postcss.config.js") | resources.Minify | resources.Fingerprint "sha512" | resources.PostProcess }}
{{- partial "amp-boilerplate.html" . -}}
<style amp-custom>
    @font-face {
        font-family: 'themify';
        src: url("{{ $woff2.RelPermalink }}") format('woff2'),
        url("{{ $woff.RelPermalink }}") format('woff');
        font-weight: 400;
        font-style: normal;
        font-display: block
    }

        {{ $allcss.Content | safeCSS }}

        .i-amphtml-carousel-content {
            position: relative;
        }

</style>


{{ "<!-- js plugins -->" | safeHTML }}
<script type="text/javascript" src="https://unpkg.com/default-passive-events"></script>
{{ $jquery := resources.Get "plugins/jQuery/jquery.min.js" }}
{{ $jsbootstrap := resources.Get "plugins/bootstrap/bootstrap.min.js" }}
{{ $slickjs := resources.Get "plugins/slick/slick.min.js" }}
{{ $darkmode := resources.Get "plugins/darkmode/darkmode.1.5.7.min.js" }}
{{ $cookies := resources.Get "plugins/cookies/js.cookie-2.2.1.min.js" }}
{{ $tabs := resources.Get "js/tabs.js" }}
{{ "<!-- bundled js -->" | safeHTML }}
{{ $alljs := slice $jquery $darkmode $cookies $tabs | resources.Concat "/js/vendor.js" | minify | fingerprint "sha512" }}
<script> {{ $alljs.Content | safeJS }} </script>
