<head itemscope itemtype="{{ .Site.BaseURL }}">
  <meta charset="utf-8">

  {{ "<!-- Security Policy -->" | safeHTML }}
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
  <meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />

  {{ "<!-- Title -->" | safeHTML }}
  <title>{{ .Site.Title }}</title>

  {{ "<!-- plugins -->" | safeHTML }}
  {{ range .Site.Params.plugins.css }}
  <link rel="preload" href="{{ .URL | absURL }}" as="style" onload="this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="{{ .URL | absURL }}">
  </noscript>
  {{ end }}

  {{ "<!-- Main Stylesheet -->" | safeHTML }}
  {{ with resources.Get "scss/style.scss" | toCSS | minify | fingerprint "sha512" }}
  <style> {{ .Content  | safeCSS }} integrity="{{ .Data.Integrity }}" </style>
  {{end }}

  {{ "<!-- lazy image -->" | safeHTML }}
  <script async src="{{ .Site.BaseURL }}plugins/lazysize/lazysizes.min.js">
  </script>

  {{ "<!-- Darkmode -->" | safeHTML }}
  <script defer src="{{ .Site.BaseURL }}plugins/darkmode/darkmode.1.5.7.min.js"></script>
  <script>
    const options = {
      time: '0.5s', // default: '0.3s'
      saveInCookies: true, // default: true,
      label: '🌓', // default: ''
      autoMatchOsTheme: true // default: true
    }

    function addDarkmodeWidget() {
      new Darkmode(options).showWidget();
    }
    window.addEventListener('load', addDarkmodeWidget);
  </script>

  {{ "<!-- google analitycs -->" | safeHTML }}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.googleAnalytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ .Site.Params.googleAnalytics }}');
  </script>

  {{ "<!-- Alternate language -->" | safeHTML }}
  <link rel="alternate" href="https://absolutearray.com/" hreflang="en">
  <link rel="alternate" href="https://example.com/" hreflang="x-default" />

  {{ "<!-- adSense -->" | safeHTML }}
  <script data-ad-client="ca-pub-9717324430850040" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  {{ "<!-- recaptcha renders only in contact page-->" | safeHTML }}
  {{ if eq .Section "contact" }}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  {{ end }}

  {{ "<!-- Title Tags -->" | safeHTML }}
  <title itemprop="name">{{ .Title }}</title>
  <meta property="og:title" content="{{ .Title }}" />
  <meta name="twitter:title" content="{{ .Title }}" />
  <meta itemprop="name" content="{{ .Title }}" />
  <meta name="application-name" content="{{ .Title }}" />
  <meta property="og:site_name" content="{{ .Site.Params.sitename }}" />

  {{ "<!-- Description Tags -->" | safeHTML }}
  <meta name="description"
    content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}" />
  <meta itemprop="description"
    content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}" />
  <meta property="og:description"
    content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}" />
  <meta name="twitter:description"
    content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}" />

  {{ "<!-- Link Tags -->" | safeHTML }}
  <base href="{{ .Permalink }}" />
  <link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
  <meta name="url" content="{{ .Permalink }}" />
  <meta name="twitter:url" content="{{ .Permalink }}" />
  <meta property="og:url" content="{{ .Permalink }}" />

  {{ "<!-- Language Tags -->" | safeHTML }}
  <meta property="og:locale" content="{{ .Language.Lang }}" />
  <meta name="language" content="{{ .Language.LanguageName }}" />
  {{ range .AllTranslations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}" />
  {{ end }}

  {{ "<!-- Image Tags  -->" | safeHTML }}
  {{ with .Params.image }}
  <meta itemprop="image" content="{{ . | absURL }}" />
  <meta property="og:image" content="{{ . | absURL }}" />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="{{ . | absURL }}" />
  <meta name="twitter:image:src" content="{{ . | absURL }}" />
  {{ else }}
  <meta itemprop="image" content="{{ .Site.Params.ogimage | absURL }}" />
  <meta property="og:image" content="{{ .Site.Params.ogimage | absURL }}" />
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta name="twitter:image" content="{{ .Site.Params.ogimage | absURL }}" />
  <meta name="twitter:image:src" content="{{ .Site.Params.ogimage | absURL }}" />
  {{ end }}

  {{ "<!-- Date Tags -->" | safeHTML }}
  <meta property="og:updated_time" content={{ .Lastmod.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />

  {{ "<!-- Sitemap & RSS Feed Tags -->" | safeHTML }}
  <link rel="sitemap" type="application/xml" title="Sitemap" href='{{ "sitemap.xml" | absURL }}' />

  {{ with .OutputFormats.Get "RSS" }}
  <link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
  <link href="{{ .Permalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
  {{ end }}

  {{ "<!-- mobile responsive meta -->" | safeHTML }}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  {{ with .Site.Params.author }}
  <meta name="author" content="{{ . }}">{{ end }}

  {{ "<!--Favicon-->" | safeHTML }}
  <link rel="shortcut icon" href="{{ .Site.BaseURL | safeURL }}images/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL | safeURL }}images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL | safeURL }}images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL | safeURL }}images/favicon/favicon-16x16.png">
  <link rel="manifest" href="{{ .Site.BaseURL | safeURL }}/site.webmanifest">
  <link rel="mask-icon" href="{{ .Site.BaseURL | safeURL }}images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-config" content="{{ .Site.BaseURL | safeURL }}/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  {{ "<!--Search Engine Crawler Tags-->" | safeHTML }}
  <meta name="robots" content="index,follow" />
  <meta name="googlebot" content="index,follow" />

  {{ "<!--Misc-->" | safeHTML }}
  <meta name="keywords"
    content="coding, programming, knowledge, absolute array, absolute, array, python, learn, new skill" />
  <meta name="imagemode" content="force" />
  <meta name="coverage" content="Worldwide" />
  <meta name="distribution" content="Global" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="apple-mobile-web-app-title" content="{{ .Site.Params.sitename }}" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="apple-touch-fullscreen" content="yes" />

  {{ "<!-- renders only in the article page -->" | safeHTML }}
  {{ if eq .Section "articles" }}

  {{ "<!-- Pagination meta tags for list pages only  -->" | safeHTML }}
  {{ $paginator := .Paginate (where .Pages "Section" "articles") }}
  {{ if $paginator }}
  <link rel="first" href="{{ $paginator.First.URL }}" />
  <link rel="last" href="{{ $paginator.Last.URL }}" />
  {{ if $paginator.HasPrev }}
  <link rel="prev" href="{{ $paginator.Prev.URL }}" />
  {{end}}
  {{ if $paginator.HasNext }}
  <link rel="next" href="{{ $paginator.Next.URL }}" />
  {{end}}
  {{end}}

  <meta property="og:type" content="article" />
  <meta property="article:publisher" content="{{ .Site.BaseURL | absURL }}" />
  <meta property="og:article:published_time" content={{ .Date.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />
  <meta property="article:published_time" content={{ .Date.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />

  {{ with.Params.author }}
  <meta property="og:article:author" content="{{humanize . }}" />
  <meta property="article:author" content="{{humanize . }}" />
  {{ end }}

  {{ with.Params.categories }}
  <meta name="news_keywords" content="{{ index . 0 }}" />
  <meta property="article:section" content="{{ index . 0 }}" />
  {{ end }}
  {{ end }}


  {{ "<!-- seo_schema -->" | safeHTML }}

  {{ partial "seo_schema" . }}

</head>
