<head itemscope itemtype="{{ .Site.BaseURL }}">
  <meta charset="utf-8">
  <title>{{ .Site.Title }}</title>

  {{ "<!-- Title Tags -->" | safeHTML }}
  <title itemprop="name">{{ .Title }} | {{ .Site.Title }}</title>
  <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
  <meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}" />
  <meta itemprop="name" content="{{ .Title }} | {{ .Site.Title }}" />
  <meta name="application-name" content="{{ .Title }} | {{ .Site.Title }}" />
  <meta property="og:site_name" content="{{ .Site.Params.sitename }}" />


  {{ "<!-- Description Tags -->" | safeHTML }}
  <meta name="description" content="{{ .Params.description }}" />
  <meta itemprop="description" content="{{ .Params.description }}" />
  <meta property="og:description" content="{{ .Params.description }}" />
  <meta name="twitter:description" content="{{ .Params.description }}" />


  {{ "<!-- Link Tags -->" | safeHTML }}
  <base href="{{ .Permalink }}" />
  <link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
  <meta name="url" content="{{ .Permalink }}" />
  <meta name="twitter:url" content="{{ .Permalink }}" />
  <meta property="og:url" content="{{ .Permalink }}" />


  {{ "<!-- Language Tags -->" | safeHTML }}
  <meta property="og:locale" content="{{ .Language.Lang }}" />
  <meta name="language" content="{{ .Language.LanguageName }}" />
  {{ range .AllTranslations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}" />
  {{ end }}


  {{ "<!-- Image Tags  -->" | safeHTML }}
  {{ with .Params.image }}
  <meta itemprop="image" content="{{ . | absURL }}" />
  <meta property="og:image" content="{{ . | absURL }}" />
  <meta name="twitter:image" content="{{ . | absURL }}" />
  <meta name="twitter:image:src" content="{{ . | absURL }}" />
  {{ else }}
  <meta itemprop="image" content="{{ .Site.Params.ogimage | absURL }}" />
  <meta property="og:image" content="{{ .Site.Params.ogimage | absURL }}" />
  <meta name="twitter:image" content="{{ .Site.Params.ogimage | absURL }}" />
  <meta name="twitter:image:src" content="{{ .Site.Params.ogimage | absURL }}" />
  {{ end }}

  {{ "<!-- Date Tags   -->" | safeHTML }}
  <meta property="og:updated_time" content={{ .Lastmod.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />


  {{ "<!-- Sitemap & RSS Feed Tags -->" | safeHTML }}
  <link rel="sitemap" type="application/xml" title="Sitemap" href='{{ "sitemap.xml" | absURL }}' />

  {{ with .OutputFormats.Get "RSS" }}
  <link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
  <link href="{{ .Permalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
  {{ end }}


  {{ "<!-- mobile responsive meta -->" | safeHTML }}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, shrink-to-fit=no">
  <meta name="description"
    content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
  {{ with .Site.Params.author }}
  <meta name="author" content="{{ . }}">{{ end }}

  {{ "<!-- plugins -->" | safeHTML }}
  {{ range .Site.Params.plugins.css }}
  <link rel="stylesheet" href="{{ .URL | absURL }} ">
  {{ end }}

  {{ "<!-- Main Stylesheet -->" | safeHTML }}
  {{ $styles := resources.Get "scss/style.scss" | toCSS | minify }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">

  {{ "<!--Favicon-->" | safeHTML }}
  <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
  <link rel="manifest" href="images/favicon/site.webmanifest">
  <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-config" content="images/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">


  {{ "<!-- google analitycs -->" | safeHTML }}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.googleAnalytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-WHSXXMY8EX');
  </script>

  {{ "<!-- adSense -->" | safeHTML }}
  <script data-ad-client="ca-pub-9717324430850040" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  {{ "<!-- recaptcha -->" | safeHTML }}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>
