{{ if .Site.Params.preloader.enable }}
{{ "<!-- preloader start -->" | safeHTML }}
<div class="preloader">
  {{ if ne .Site.Params.preloader.preloader "" }}
  {{ "<!-- amp-image -->" | safeHTML }}
  <amp-img class="card-img" src="{{ .Site.Params.preloader.preloader | absURL }}" width="50" height="50" layout="fill"
    alt="preloader" aria-label="preloader" noloading>
    <noscript>
      <img src="{{ .Site.Params.preloader.preloader | absURL }}" width="50" height="50" alt="" aria-label="preloader">
    </noscript>
    <div fallback>Go online to see the image</div>
  </amp-img>
  {{ end }}
</div>
{{ "<!-- preloader end -->" | safeHTML }}
{{ end }}
