<script type="application/ld+json">
    {
        "@context" : "http://schema.org",
        "@type" : "CreativeWork",
        "mainEntityOfPage": {
             "@type": "WebPage",
             "@id": "{{ .Permalink }}"
        },
        "articleSection" : "{{ .Section }}",
        "name" : "{{ .Title }}",
        "headline" : "{{ .Title }}",
        "image":
        [
                "{{ .Params.Image | absURL }}.webp"
        ],
        "description" : "{{if .IsPage}}{{ .Page.Description }}{{ else }}{{ if .Site.Params.Description }}{{ .Site.Params.Description }}{{ end }}{{ end }}",
        "inLanguage" : "{{ .Lang }}",
        "author" :
        {
            "@type": "Person",
            "name":"{{ .Site.Params.Author }}"
        },
        "creator" : "{{ .Site.Params.Author }}",
        "publisher":
        {
        "@type": "Organization",
        "name": "Absolute Array",
        "logo": {
            "@type": "ImageObject",
            "url": "{{ .Site.Params.Baseurl | absURL }}images/favicon/website-logo.png"
        }},
        "copyrightHolder" : "{{ .Site.Params.Author }}",
        "copyrightYear" : "{{ .Date.Format "2006" }}",
        "datePublished": "{{ .Date | safeHTML }}",
        "dateModified" : "{{ .Date | safeHTML }}",
        "url" : "{{ .Permalink }}",
        "wordCount" : "{{ .WordCount }}",
        "keywords" : [ {{ if isset .Params "tags" }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }} ]
    }
    </script>
