<div class="picture">
    <figure>
        <picture>
            <!-- Large screens -->
            <source media="(min-width: 535px)" data-srcset="{{ .Get "src" }}.{{ .Get "type" }} 1x,
                  {{ .Get "src" }}@2x.{{ .Get "type" }} 2x">
            <!-- Small screens -->
            <source media="(max-width: 534px)" data-srcset="{{ .Get "src" }}-sm.{{ .Get "type" }} 1x,
                  {{ .Get "src" }}-sm@2x.{{ .Get "type" }} 2x">
            <!-- Fallback -->
            <img data-src="{{ .Get "src" }}.{{ .Get "type" }}" data-srcset="{{ .Get "src" }}@2x.{{ .Get "type" }} 2x"
                alt="{{ .Get "alt" }}" class="img-fluid figure-img lazyload blur-up" width="100%" height="100%"
                data-sizes="auto">
        </picture>
        {{ if .Get "caption"}}
        <figcaption>{{ .Get "caption" }}</figcaption>
        {{ end }}
    </figure>

</div>
